
.select .main{
    border: 3px solid black;
    display: inline-block;
    max-height: 20px;
    min-width: 40px;
    width: 300px;
}



.items {
    padding: 5px;
    border: 1px solid #f60000;
}

.items:hover{
    background-color: #697dbd;
}

/*

.items .active {
    display: block;
}
*/

